.background-img{
    display: flex;
    background-color: #b9dfdf;
    height: 490px;
    width: 1520px;
}
.black{
    width: 760px;
    height: 490px;
}
.white{
    width: 197px;
    height: 195px;
}
.imgs{
    display: flex;
    position: absolute;
    left: 198px;
    bottom: 290px;
}
.jpeg{
    width: 190px;
    height: 171px;
}
.Future{
   font-size: 30px;
    color: white;
    position: absolute;
    bottom: 540px;
    left: 198px;    
}
.information{
    position: absolute;
    bottom: 495px;
    left: 198px;
    color: white;
}
.futureworkabout{
    font-size: 20px;
    width: 525px;
}
