.container{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    align-items: center;
}
input{
    width: 200px;
    height: 30px;
}
body{
 color: white;
    background-image: url(WhatsApp\ Image\ 2023-06-22\ at\ 14.19.57.jpeg);
}
.robot{
    padding-left: 690px;
   font-size: 32px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.line{
    width: 15px;
    height: 110px;
    background-color: aquamarine;
    margin-left: 700px;
    margin-top: 100px;

}
h1{
margin: 0px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding-left: 690px;
}