.page5{
    font-family: 'Roboto Flex', sans-serif;
.Technology-trends{
    margin: 20px;
    text-align: center;
    color: #AEA16A;
    font-size: 48px;
}
.Trends-text-container{
    margin-bottom: 50px;
}
.Trends-text{
    font-size: 20px;
    text-align: center;
    margin: 0;
    
}

.trend-robo-img{
    width: 360px;
    height: 460px;
}
.trendrobots-container{
    display: flex;
    justify-content: center;
}
footer{
    background-color: #000000;
    height:360px ;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.footdiv{
    display: flex;
    
}
.jeff-line{
    width: 15px;
    height: 230px;
    background-color: #AEA16A;
    margin-left: 100px;
    margin-top: 70px;
}
.footext{
    width: 1016px; 
    color: white;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 24px;
    font-family:sans-serif ;
}
.quotation-icon{
    width: 125px;
    height: 104px;
    color: #AEA16A;
    margin-left: 70px;
    margin-top: 60px;
}
.JeffBenzos{
    font-size: 30px;
    color: white;
    padding-left: 1000px;
}
}