.picture{
    width:  120px;
    height: 90px;
}
.robopic{
    position: absolute;
    left: 170px;
    top: 20px;
    bottom: 20px;
}
.container{
    position: absolute;
    top: 30px;
    left: 15px;

}
.paragraph{
    font-size: 5px;
    font-family: 'Roboto Flex', sans-serif;
}
.human{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 13px;
}
.techno{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 4px;
}