.page3{
    position: relative;
    font-family: 'Roboto Flex', sans-serif;
}
.background-img{
    display: flex;
    background-color: #b9dfdf;
    height: 490px;
    width: 1270px;
}
.black{
    width: 635px;
    height: 490px;
}
.white{
    width: 197px;
    height: 195px;
}
.imgs{
    display: flex;
    position: absolute;
    left: 73px;
    bottom: 240px;
}
.jpeg{
    width: 190px;
    height: 171px;
}
.Future{
   font-size: 30px;
    color: white;
    position: absolute;
    bottom: 505px;
    left: 73px;    
}
.information{
    position: absolute;
    bottom: 450px;
    left: 73px;
    color: white;
}
.futureworkabout{
    font-size: 20px;
    width: 525px;
}