section{
    background-color: #b9dfdf;
    font-family: 'Roboto Flex', sans-serif;
}

.containerob{
    display: flex;
    justify-content: center;
    padding: 80px 0px ;
    
}

img {
    width: 684px;
    height: 792px;
    margin-bottom: 0;
}
 .robotext{
    width: 456px;
    height: 792px;
    background-color: #d7eded;
    position: relative;
 }
h2{
    font-size: 48px;
    padding: 43px;
    margin: 0px;
}
 .artificialtext{
    margin: 0px;
    font-size: 22.5px;
    padding: 0px 44px 0px 44px;
 }
 .directionbutton{
    position: absolute;
    left: 50px;
    bottom: 110px;
 }
 .button{

    color: black;
    background-color:#b9dfdf ;
    padding: 15px;
    text-decoration: none;

}