body{
    margin: 0px;
    background-color: aquamarine;
}
.background-img{
    display: flex;

}
.black{
    width: 760px;
    height: 715px;
}
.white{
    width: 760px;
    height: 715px;
    opacity: 0.7;
}
.imgs{
    display: flex;
    position: absolute;
    right: 250px;
    left: 160px;
    bottom: 150px;
}
.jpeg{
    width: 200px;
    height: 200px;
}
.Future{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    bottom: 475px;
    left: 150px;
}
.information{
    position: absolute;
    bottom: 400px;
    left: 150px;
    color: white;
    font-size: 25px;
    
}
